* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d3c57;
}
.title {
  margin-top: -1em;
  margin-bottom: 2em;
  text-align: center;
  color: #fff;
}
.password-form {
  padding: 25px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 0.3rem;
  min-height: 280px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.4);
  width: 60vw;
}

.password-text {
  padding: 10px;
  font-size: 0.8em;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem;
  min-height: 2.4rem;
  margin-bottom: 1rem;
  width: 100%;
}

.password-inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#password-length {
  width: 3.5em;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em 0;
}

label {
  color: rgba(0, 0, 0, 0.6);
}
.btn {
  padding: 0.85em;
  margin: 1rem 0;
  border-radius: 0.3rem;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: rgb(45, 48, 243);
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:active {
  transform: scale(0.95);
}

.btn:hover {
  background-color: rgb(14, 11, 192);
}
@media screen and (max-width: 768px) {
  .password-text {
    font-size: 0.8em;
  }
  .password-form {
    width: 93vw;
  }
}
